@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

body {
  color: #fff;
  font-family: "Nunito Semibold", sans-serif;
  text-align: center;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

#content > * {
  background: #3bbced;
  padding: 30px;
}
